# SF Salaries Exercise

** Import pandas as pd.**

In [30]:
import pandas as pd

** Read Salaries.csv as a dataframe called sal.**

In [31]:
sal = pd.read_csv("Salaries.csv")

** Check the head of the DataFrame. **

In [32]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [33]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [43]:
Base_Pay = sal["BasePay"]
print(Base_Pay)
print("--------------------------------------------")
print("The average BasePay is : ",Base_Pay.mean())

0         167411.18
1         155966.02
2         212739.13
3          77916.00
4         134401.60
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: BasePay, Length: 148654, dtype: float64
--------------------------------------------
The average BasePay is :  66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [44]:
Overtime_Pay = sal["OvertimePay"]
print(Overtime_Pay)
print("-------------------------------------------------")
print("The highest amount of OvertimePay is : ",Overtime_Pay.max())

0              0.00
1         245131.88
2         106088.18
3          56120.71
4           9737.00
            ...
148649         0.00
148650          NaN
148651          NaN
148652          NaN
148653         0.00
Name: OvertimePay, Length: 148654, dtype: float64
-------------------------------------------------
The highest amount of OvertimePay is :  245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [46]:
By_Names = sal.set_index("EmployeeName")
By_Names.loc['JOSEPH DRISCOLL','JobTitle']

#Another way:
# sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [48]:
By_Names.loc['JOSEPH DRISCOLL','TotalPayBenefits']

#Another way:
# sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits']

270324.91

** What is the name of highest paid person (including benefits)?**

In [50]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]

#Conclusion:
#It's obvious that he is the highest paid person, as he is the GENERAL MANAGER.

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [52]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

#conclusion:
#The strange thing is that she doesn't get paid, as a matter of fact she's the one that pays

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [55]:
By_Year = sal.groupby('Year')
By_Year['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [57]:
sal['JobTitle'].nunique()

2159

** What are the top 5 most common jobs? **

In [62]:
total = sal.groupby('JobTitle').count()
Most_Common = total.sort_values(by = 'Id' , ascending = False)
top_5=Most_Common[:5]
top_5['Id']

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: Id, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [74]:

By_2013 = sal[sal['Year'] == 2013]
Jobs_2013 = By_2013.groupby('JobTitle').count()
count = Jobs_2013[Jobs_2013['Id'] == 1]
count.count()['Id']

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [92]:
def chiefs(job):    
    if 'CHIEF' in job.upper().split(' '):
        return 1
    else:
        return 0

In [93]:
sum(sal['JobTitle'].apply(chiefs))

477

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000

# Great Job!